*{
	font-family: sans-serif;
}

body{
	margin: 0px;
	background-color: orange;
}

#header{
	height: 100px;
	width: 100%;
	text-align: center;
	font-size: 40px;
	background-color: yellow;
	margin-bottom: 1px;
}

#top{
	height: auto;
	width: 100%;
	background-color: #orangered;
}

.option{
	display: inline-block;
	text-decoration: none;
	padding: 0 100px 0 0;
	color: #181D31;
}
a{
	text-decoration: none;
}

.login{
	display: inline-block;
	float: right;
	background-color: greenyellow;
	align-items: center;
	justify-content: center;
	width: 150px;
	text-align: center;
	
}